@charset "UTF-8";

html{
  font-size: 100%;
}
body{
   line-height: 1.7;
   color:#432;
   background-image: url(../images/bg.png);
   background-size: cover;
   min-height: 100vh;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
}
#outline{
　width: 750px;
　border: solid 1px #ff0000;
}
.header{
　text-align: left;
}
.main-nav{
  justify-content:flex-end;
  align-items: flex-end;
  display: flex;
  font-size: 1.25rem;
  text-transform:uppercase;
  margin: 34px 34px;
  list-style: none;
  p
}
.main-nav li{
 margin-left: 36px;
}
.main-nav a{
  color: #432
}
.main-nav a:hover{
  color: #0bd;
}
/*HOME
-------------aaaaaaaaa-----------*/
.bg{
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
  padding-bottom: 120px;
  box-sizing: border-box;
}
.home-content{
  text-align: center;
  margin-top: 10%;
}
.home-content p{
  font-size: 1.125rem;
  margin: 10px 0 42px;
}
/*見出し*/
.page-title{
  font-size:4rem;
  font-family: 'Philosopher',serif;
  text-transform: uppercase;
  font-weight:normal;
}
.name{
  display: flex;
  height: 200;
}
.name-img{
  width: 100%;
  height: 100%;
  margin: 10px 50px;
  zoom:300%;
}
.name-text{
  font-size:large;
  width: 175%;
  margin: 50px 100px 50px 50px;
}
#sns .wrapper{
  display: flex;
  justify-content:space-around;
}
.sns-box{
  width: 100px;
  height: 65px;
  margin-top:100px;

}
footer{
    width: 100%;
    background-color: #89c7de;
    color: #fff;
    text-align: center;
    padding: 1px 0px;
    position: absolute;
    bottom: 0;
}
.big-bg{
  min-height: 100vh;
  position: relative;
  padding-bottom: 120px;
  box-sizing: border-box;
}
.big-bg p{
  font-size: x-large;
  text-align: center;
  color: red;
}
.wrapper{
  position: relative;
  padding-bottom: 120px;
  box-sizing: border-box;/
}
.page-title{
  margin-left: 150px;
}
.banner-1{
  transition-duration: 0.3s;
}
.banner-1:hover{
  transform: scale(1.2);
  transition-duration: 0.3s;
}
.site-1{
  transition-duration: 0.3s;
  width: 500px;
  height: 500px;
}
.site-1:hover{
  transform: scale(1.2);
  transition-duration: 0.3s;
}
.work-banner{
	display: flex;
	flex-wrap:wrap;
  text-align: center;
}
.work-banner li {
	width: calc(100%/3);
	padding:40px;
	box-sizing:border-box;
  list-style: none;
}
.work-banner li img {
	max-width:100%;
	height: auto;
	border:solid 1px #ccc;
}
.work-title{
  text-align: center;
}
.work-site{
	display: flex;
	flex-wrap:wrap;
  text-align: center;
}
.work-site li {
	width: calc(100%/2);
	padding:40px;
	box-sizing:border-box;
  list-style: none;
}
.work-site li img {
	max-width:100%;
	height: auto;
	border:solid 1px #ccc;
}
